.footer {
   padding: 60px 0;
 
   background-color: var(--primary-background-color);
 }
 
 .footer-wrap {
   display: flex;
   justify-content: start;
   align-items: baseline;
 }
 
 .address-info {
   margin-right: 70px;
 }
 
 .address {
   margin-bottom: 9px;
 
   font-style: normal;
   line-height: 1.5;
 
   color: var(--white-color);
 }
 
 .footer-list .item:not(:last-child) {
   margin-bottom: 9px;
 }
 
 .footer-list .link {
   line-height: 1.5;
 
   color: var(--address-link-color);
 
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .footer-list .link:hover,
 .footer-list .link:focus {
   color: var(--accent-text-color);
 }