.modal-form {
}

.input-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  padding: 11px 11px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  color: var(--secondary-text-color);
  background-color: transparent;
}

.modal-input-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  left: 12px;
  bottom: 12px;

  fill: var(--secondary-text-color);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-text-color);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--accent-text-color);
}

.input-label {
}

.modal-textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;

  color: var(--secondary-text-color);
  background-color: transparent;
}

.modal-textarea:hover,
.modal-textarea:focus {
  border: 1px solid var(--accent-text-color);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-btn {
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 30px;
  padding-left: 12px;

  color: var(--white-color);
}

.checkbox-icon {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;

  border: 2px solid var(--secondary-text-color);
  border-radius: 2px;

  background-color: transparent;
  background-origin: border-box;

  color: transparent;
}

.icon-check {
  fill: currentColor;
}

.form-checkbox:focus + .checkbox-icon {
  border: 2px solid var(--accent-text-color);
}

.form-checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.checkbox-text {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.checkbox-link {
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-text-color);
}