.page-header {
   border-bottom: 1px solid var(--border-line-color);

   &__wrapper {
      display: flex;
      justify-content: space-between;
   }

   &__nav {
      display: flex;
   }

   &__logo {
      margin-right: 93px;

      color: var(--logo-text-color);
      align-self: center;
   }
}
