.social-network {
   display: flex;
   gap: 10px;
   list-style: none;
   color: var(--icon-color);
 }
 
 .social-network .icon-item {
   width: 44px;
   height: 44px;
 }
 
 .social-network .link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   border-radius: 50%;
 
   color: var(--icon-color);
 
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .social-network .link:hover,
 .social-network .link:focus {
   border-radius: 50%;
 
   background-color: var(--accent-text-color);
   color: var(--white-color);
 }
 
 .social-network .icon {
   fill: currentColor;
 }